h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1rem;
}

h1 > span {
    letter-spacing: -0.9em;
}

h1 > span:first-child,
h1 > span:last-child {
    color: red;
}

h1 > span:nth-child(7n + 2) {
    color: orange;
}

h1 > span:nth-child(7n + 3) {
    color: yellow;
}

h1 > span:nth-child(7n + 4) {
    color: green;
}

h1 > span:nth-child(7n + 5) {
    color: #00ddff;
}

h1 > span:nth-child(7n + 6) {
    color: blue;
    letter-spacing: -1em;
}

h1 > span:nth-child(7n + 7) {
    color: purple;
    letter-spacing: -1em;
}