@import "gameInfo.css";
@import "logo.css";

@font-face {
    font-family: 'kongtext';
    src: local('kongtext'), url('../assets/fonts/kongtext.ttf');
    font-weight: 400;
}

body {
    background-color: black;
    color: aliceblue;
    font-family: 'kongtext', Arial, sans-serif;
}

#gameContainer {
    display: flex;
    justify-content: center;
}



#canvas {
    border: 2px dashed blueviolet;
    height: 600px;
    width: 1000px;
}

